#inner-container {
    display: table;
    margin: 0 auto;
  }

#inner-container h1 {
    text-align: center;
}
  
#container {
    width:100%;
    position: relative;
  }

#outer-container {
    background-color: #87CEEB;
  }

* {
    font-family: sans-serif;
  }

#button-container {
  padding-bottom: 30px;
}


button {
    display:block;  
    margin:0 auto;
    width: 200px; 
}

#todo-list {
    min-width:600px;
}